.project-details {
  margin: 0 auto;
  max-width: 865px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.project-details__cover {
  max-width: 100%;
  margin-bottom: 40px;

  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

.project-details__desc {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
}
