@media (max-width: 620px) {
  /* General */
  .section {
    padding: 40px 0;
  }

  .title-1 {
    margin-bottom: 30px;
    font-size: 40px;
  }

  .title-2 {
    margin-bottom: 10px;
    font-size: 30px;
  }

  /* Content List */
  .content-list {
    row-gap: 20px;
  }

  .content-list__item {
    font-size: 16px;
  }
}
